@skyblue: #27b5cc;
@text-color: white;
@red-color: red;
@green-color: rgb(179, 233, 179);
.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top, @bottom) {
    padding-top: @top;
    padding-bottom: @bottom;
}

.jumbotron {
    background-color: @skyblue;
    color: @text-color;
    .margenes(50px, 5px);
}

.hotel-card {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn_mas {
    width: 100%;
    border-radius: 0px;
    color: @green-color;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: @skyblue;
    .margenes(10px, 0px);
}

.footer-address-icon {
    padding-right: 10px;
}

a {
    color: @text-color;
}

a.nav-menu {
    color: @skyblue;
}

a.nav-link {
    color: @text-color;
}

img.card-img-top {
    height: 200px;
}

.tab-content {
    .paddings(2%, 2%);
}