$skyblue: #27b5cc;
$text-color:white;
$color-link: rgb(24, 176, 236);
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

.jumbotron {
    background-color: $skyblue;
    color: $text-color;
    @include margenes(50px, 5px);
}

.hotel-card {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn_mas {
    width: 100%;
    border-radius: 0px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: $skyblue;
    @include margenes(10px, 0px);
}

.footer-address-icon {
    padding-right: 10px;
}

a {
    color: $text-color;
}

a.nav-menu {
    color: $skyblue;
}

a.nav-link {
    color: $text-color;
}

a.nav-link.dark {
    color: $color-link;
}

img.card-img-top {
    height: 200px;
}

.tab-content {
    @include paddings(2%, 2%);
}